@font-face {
  font-family: "Proxima Nova";
  src: url("/assets/fonts/proxima-nova-thin.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/assets/fonts/proxima-nova-regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/assets/fonts/proxima-nova-semibold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/assets/fonts/proxima-nova-bold.ttf");
  font-weight: 700;
}