


@keyframes fake-loading {
    0% {
        width: 0%;
    }
    12% {
        width: 20%;
    }
    13% {
        width: 30%;
    }
    40% {
        width: 40%;
    }
    50% {
        width: 50%;
    }
    60% {
        width: 52%;
    }
    70% {
        width: 58%;
    }
    80% {
        width: 68%;
    }
    90% {
        width: 70%;
    }
    100% {
        width: 100%;
    }
}

@keyframes heartbeat {
    0% {
        -moz-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        -webkit-transform: rotate(45deg) scale(1);
        transform: rotate(45deg) scale(1);
    }
    14% {
        -moz-transform: rotate(45deg) scale(1.3);
        -ms-transform: rotate(45deg) scale(1.3);
        -webkit-transform: rotate(45deg) scale(1.3);
        transform: rotate(45deg) scale(1.3);
    }
    28% {
        -moz-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        -webkit-transform: rotate(45deg) scale(1);
        transform: rotate(45deg) scale(1);
    }
    42% {
        -moz-transform: rotate(45deg) scale(1.3);
        -ms-transform: rotate(45deg) scale(1.3);
        -webkit-transform: rotate(45deg) scale(1.3);
        transform: rotate(45deg) scale(1.3);
    }
    70% {
        -moz-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        -webkit-transform: rotate(45deg) scale(1);
        transform: rotate(45deg) scale(1);
    }
}

@keyframes scroll-down {
    0% {
        top: -30px;
    }
    100% {
        top: 15px;
    }
}
